In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df= pd.read_csv('HR_comma_sep.csv')

In [3]:
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [4]:
df = df[['Department','salary','satisfaction_level','average_montly_hours', 'time_spend_company','left']]

In [5]:
df

,Department,salary,satisfaction_level,average_montly_hours,time_spend_company,left
0,sales,low,0.38,157,3,1
1,sales,medium,0.80,262,6,1
2,sales,medium,0.11,272,4,1
3,sales,low,0.72,223,5,1
4,sales,low,0.37,159,3,1
...,...,...,...,...,...,...
14994,support,low,0.40,151,3,1
14995,support,low,0.37,160,3,1
14996,support,low,0.37,143,3,1
14997,support,low,0.11,280,4,1
14998,support,low,0.37,158,3,1

In [6]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [7]:
df['left'].value_counts()

0    11428
1     3571
Name: left, dtype: int64

In [8]:
le = LabelEncoder()

In [9]:
df.Department = le.fit_transform(df.Department)

/var/folders/48/ngbdqk2j545_fx71g2khfp6r0000gn/T/ipykernel_655/104749969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Department = le.fit_transform(df.Department)

In [10]:
df.salary = le.fit_transform(df.salary)

/var/folders/48/ngbdqk2j545_fx71g2khfp6r0000gn/T/ipykernel_655/3754473231.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.salary = le.fit_transform(df.salary)

In [11]:
df['salary'].value_counts()

1    7316
2    6446
0    1237
Name: salary, dtype: int64

In [12]:
df

,Department,salary,satisfaction_level,average_montly_hours,time_spend_company,left
0,7,1,0.38,157,3,1
1,7,2,0.80,262,6,1
2,7,2,0.11,272,4,1
3,7,1,0.72,223,5,1
4,7,1,0.37,159,3,1
...,...,...,...,...,...,...
14994,8,1,0.40,151,3,1
14995,8,1,0.37,160,3,1
14996,8,1,0.37,143,3,1
14997,8,1,0.11,280,4,1
14998,8,1,0.37,158,3,1

In [13]:
m1 = LogisticRegression()

In [14]:
m1.fit(df['satisfaction_level'].values.reshape(-1,1), df['left'].values)

LogisticRegression()

In [15]:
m1.score(df['satisfaction_level'].values.reshape(-1,1), df['left'].values)

0.7682512167477832

In [16]:
# satisfaction_level has impact on decision to quit

In [17]:
m2= LogisticRegression()

In [18]:
m2.fit(df['average_montly_hours'].values.reshape(-1,1), df['left'].values)

LogisticRegression()

In [19]:
m2.score(df['average_montly_hours'].values.reshape(-1,1), df['left'].values)

0.7619174611640777

In [20]:
# average_montly_hours has impact on decision to quit

In [21]:
m3 = LogisticRegression()

In [22]:
m3.fit(df['time_spend_company'].values.reshape(-1,1), df['left'].values)

LogisticRegression()

In [23]:
m3.score(df['time_spend_company'].values.reshape(-1,1), df['left'].values)

0.7476498433228882

In [24]:
# time_spend_company has impact on decision to quit

In [25]:
m4 = LogisticRegression()

In [26]:
m4.fit(df['Department'].values.reshape(-1,1), df['left'].values)

LogisticRegression()

In [27]:
m4.score(df['Department'].values.reshape(-1,1), df['left'].values)

0.7619174611640777

In [28]:
# Department has impact on decision to quit

In [29]:
m5 = LogisticRegression()

In [30]:
m5.fit(df['salary'].values.reshape(-1,1), df['left'].values)

LogisticRegression()

In [31]:
m5.score(df['salary'].values.reshape(-1,1), df['left'].values)

0.7619174611640777

In [32]:
# salary has impact on decision to quit

In [33]:
X =df[['Department','salary','satisfaction_level','average_montly_hours', 'time_spend_company']].values

In [34]:
X

array([[7.00e+00, 1.00e+00, 3.80e-01, 1.57e+02, 3.00e+00],
       [7.00e+00, 2.00e+00, 8.00e-01, 2.62e+02, 6.00e+00],
       [7.00e+00, 2.00e+00, 1.10e-01, 2.72e+02, 4.00e+00],
       ...,
       [8.00e+00, 1.00e+00, 3.70e-01, 1.43e+02, 3.00e+00],
       [8.00e+00, 1.00e+00, 1.10e-01, 2.80e+02, 4.00e+00],
       [8.00e+00, 1.00e+00, 3.70e-01, 1.58e+02, 3.00e+00]])

In [35]:
deptTransformer = ColumnTransformer([('Department',OneHotEncoder(), [0])],remainder='passthrough')

In [36]:
X= deptTransformer.fit_transform(X)

In [37]:
salaryTransformer = ColumnTransformer([('salay',OneHotEncoder(), [3])],remainder='passthrough')

In [38]:
X= salaryTransformer.fit_transform(X)

In [39]:
X

array([[1.00e+00, 0.00e+00, 0.00e+00, ..., 3.80e-01, 1.57e+02, 3.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 8.00e-01, 2.62e+02, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 1.10e-01, 2.72e+02, 4.00e+00],
       ...,
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 3.70e-01, 1.43e+02, 3.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 1.10e-01, 2.80e+02, 4.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 3.70e-01, 1.58e+02, 3.00e+00]])

In [40]:
y = df['left'].values

In [41]:
model = LogisticRegression()

In [42]:
model.fit(X,y)

/Users/madhavathavale/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [43]:
model.score(X,y)

0.7655177011800787

In [ ]:
# The score of 76.5% is good enough.